img{
    height: 20%;
    width: 20%;
    margin-left: 300px;
}

ul {
    list-style-type: none;
    margin:0;
    padding: 0;
}

#input-buttons {
    padding-top: 20px;
    width: auto;
    margin-left: 300px
    
}

#search-bar {
    width: auto;
    margin-left: 300px;
}
